body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

section {
  padding: 70px 0 80px;
  z-index: 1;
  overflow: hidden; }
  section h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 0 15px; }
  section h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 35px; }
  section .personal_head {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    margin-bottom: 25px;
    color: #555; }

.s_wrapper {
  text-align: center; }
  .s_wrapper .s_discr {
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    position: relative;
    margin-bottom: 130px; }
    .s_wrapper .s_discr::after {
      content: " ";
      display: block;
      position: absolute;
      height: 1px;
      width: 150px;
      left: 50%;
      margin-left: -75px;
      margin-top: 60px; }

.main_head {
  min-height: 620px;
  padding-top: 20px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }

.loader_inner {
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  height: 300px;
  width: 400px;
  margin-top: -150px;
  margin-left: -200px;
  left: 50%;
  top: 50%;
  position: absolute; }

.logo_container {
  float: left; }

svg {
  height: 60px;
  width: 60px;
  position: relative;
  z-index: 100; }

.menu_toggle {
  float: right;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  border: none;
  background-color: #000; }
  .menu_toggle span {
    display: block; }

.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 11px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.sw-topper {
  position: relative;
  top: 0;
  width: 34px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
  -moz-transition: -moz-transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s; }

.sw-bottom {
  position: relative;
  width: 34px;
  height: 3px;
  top: 6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
  -moz-transition: -moz-transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  -moz-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 34px;
  height: 3px;
  top: 12px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 9px;
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  transform: rotate(140deg); }
.sandwich.active .sw-bottom {
  top: 6px;
  -webkit-transform: rotate(-140deg);
  -moz-transform: rotate(-140deg);
  -ms-transform: rotate(-140deg);
  -o-transform: rotate(-140deg);
  transform: rotate(-140deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.top_menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
  top: 0;
  left: 0;
  display: none; }
  .top_menu ul,
  .top_menu li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .top_menu ul {
    margin-top: 180px; }
    .top_menu ul a {
      display: block;
      padding: 20px 0;
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .top_menu ul li:nth-child(1) a {
      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      animation-duration: 0.5s; }
    .top_menu ul li:nth-child(2) a {
      -webkit-animation-duration: 0.9s;
      -moz-animation-duration: 0.9s;
      animation-duration: 0.9s; }
    .top_menu ul li:nth-child(3) a {
      -webkit-animation-duration: 1.3s;
      -moz-animation-duration: 1.3s;
      animation-duration: 1.3s; }
    .top_menu ul li:nth-child(4) a {
      -webkit-animation-duration: 1.7s;
      -moz-animation-duration: 1.7s;
      animation-duration: 1.7s; }

.top_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: table; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centred {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }

.top_text {
  display: inline-block;
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out; }
  .top_text h1 {
    display: inline-block;
    padding: 10px 35px;
    color: #fff;
    border: 8px solid #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.8em;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1000px;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s; }
  .top_text p {
    margin: 0;
    text-transform: uppercase;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s; }

.top_text_opac {
  opacity: 0.3; }

.person {
  text-align: center;
  margin-bottom: 35px; }
  .person img {
    max-width: 220px;
    display: inline-block;
    border-radius: 50%; }

.s_about p {
  margin-bottom: 25px; }
.s_about ul,
.s_about li {
  list-style-type: none;
  padding: 0;
  margin: 0; }
.s_about li {
  margin-bottom: 10px; }
.s_about .social_nav {
  margin-top: 20px; }
  .s_about .social_nav li {
    display: inline-block;
    margin-left: 5px;
    font-size: 20px; }

.resume_container .left {
  text-align: right;
  border-right: 1px solid #d2d2d2; }
  .resume_container .left h3 {
    text-align: right; }
  .resume_container .left .resume_dicr strong {
    margin-left: 10px; }
.resume_container .right {
  text-align: left; }
  .resume_container .right h3 {
    text-align: left; }
  .resume_container .right .resume_dicr strong {
    margin-right: 10px; }
.resume_container h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600; }
.resume_container .resume_icon {
  font-size: 40px;
  margin-bottom: 35px; }
.resume_container .year {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 600;
  font-style: italic; }
.resume_container .resume_dicr {
  font-style: italic; }
  .resume_container .resume_dicr strong {
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal; }
.resume_container .resume_item {
  margin-bottom: 35px; }
  .resume_container .resume_item p {
    margin-top: 10px; }

.s_portfolio ul,
.s_portfolio li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
.s_portfolio li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  line-height: 2; }
.s_portfolio ul {
  margin-bottom: 50px; }

.portfolio_item {
  padding: 0;
  display: none; }
  .portfolio_item img {
    width: 100%; }
  .portfolio_item .port_item_cont {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
  .portfolio_item:hover .port_item_cont {
    opacity: 1;
    padding-top: 20%; }
  .portfolio_item h3 {
    color: #fff;
    margin-bottom: 0; }
  .portfolio_item button {
    background-color: transparent;
    border-right: 1px solid #fff;
    padding: 2px 10px; }

.main_footer {
  padding: 50px 0;
  font-size: 13px;
  font-weight: 300; }

/*# sourceMappingURL=main.css.map */
